<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TBC UI Regression Suite" parallel="tests" thread-count="2" verbose="1">
    <test name="Desktop">
        <parameter name="profile" value="desktop"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.HomepageNavigationTest"/>
            <class name="ge.tbc.testautomation.tests.LocationsFilterTest"/>
            <class name="ge.tbc.testautomation.tests.LoanCalculatorTest"/>
            <class name="ge.tbc.testautomation.tests.MoneyTransferPageTest"/>
        </classes>
    </test>

    <test name="Mobile">
        <parameter name="profile" value="mobile"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.HomepageNavigationTest"/>
            <class name="ge.tbc.testautomation.tests.LocationsFilterTest"/>
            <class name="ge.tbc.testautomation.tests.LoanCalculatorTest"/>
            <class name="ge.tbc.testautomation.tests.MoneyTransferPageTest"/>
        </classes>
    </test>
</suite>
